/********************

    template 
                
*********************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

/* removing dropdown arrow in bootstrap */

.caret-off::before {
  display: none !important;
}

.caret-off::after {
  display: none !important;
}

/********************

    reuseable
                
*********************/

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-23 {
  width: 23%;
}

.w-25 {
  width: 25%;
}

.w-28 {
  width: 28%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33.3%;
}

.w-35 {
  width: 35%;
}

.w-37 {
  width: 37%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-48 {
  width: 48%;
}

.w-60 {
  width: 60%;
}

.w-62 {
  width: 62%;
}

.w-65 {
  width: 65%;
}

.w-68 {
  width: 68%;
}

.w-70 {
  width: 70%;
}

.w-78 {
  width: 78%;
}

.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.h-90 {
  height: 90%;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lh-1 {
  line-height: 0.5rem;
}

.lh-2 {
  line-height: 1rem;
}

.lh-3 {
  line-height: 1.5rem;
}

.lh-4 {
  line-height: 2rem;
}

.br-1 {
  border-radius: 0.3rem !important;
}

.br-2 {
  border-radius: 0.5rem !important;
}

.br-3 {
  border-radius: 0.8rem;
}

.br-4 {
  border-radius: 1.2rem !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.white {
  color: white;
}

.bg-white {
  background: white;
}

.btn,
.dropdown,
.dropdown-menu {
  font-size: 1.4rem;
}

/* nav bar */

.nav-bar {
  position: relative;
  top: 0;
  height: 7.2rem;
  background: #fff;
  padding: 0 17.7rem;
  border-bottom: 0.03rem solid rgba(17, 37, 85, 0.1);
}

.nav-bar-content,
.nav-bar-menu {
  justify-content: space-between;
}

.nav-bar,
/* .nav-bar-menu, */
.nav-bar-btns {
  align-items: center;
}

.nav-bar-content {
  padding: 0 1rem;
  position: relative;
  font-size: 1.4rem;
}

.logo-container .logo-svg {
  width: 9rem;
  height: 5rem;
}

.nav-bar-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar-menu .menu-links {
  cursor: pointer;
  display: inline-block;
}

.nav-bar-menu .menu-links:focus {
  color: rgba(17, 37, 85, 1);
  font-weight: 600;
}

.nav-bar-btns .nav-login-btn {
  background: rgba(230, 246, 254, 1);
  color: rgba(15, 130, 192, 1);
}

.nav-bar-btns .nav-register-btn {
  background: rgba(15, 130, 192, 1);
  color: #fff;
}

/* main content */

.main-content-container {
  position: fixed;
  top: 7.2rem;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  height: 90vh;
  overflow-y: scroll;
  font-size: 1.8rem;
  transition: 3s;
}

/* hero section */

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 3.9rem 15.5rem;
  align-content: center;
}

.hero-section .left-section-container {
  display: flex;
  align-items: center;
}

.hero-section .left-section .find-doc-text {
  font-size: 2.4rem;
}

.hero-section .left-section .find-doc-header {
  font-size: 7.2rem;
  line-height: 8.3rem;
}

.hero-section .left-section .provide-doc-text {
  width: 70%;
}

.hero-section .left-section .book-appointment-btn {
  background: rgba(15, 130, 192, 1);
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 9rem;
}

/* how it works section */

.how-it-works {
  padding: 3.2rem 13.2rem;
  padding-bottom: 11.7rem;
  font-size: 2.2rem;
}

.how-it-works-text {
  margin-bottom: 5.6rem;
  font-size: 2.4rem;
  padding: 0 1.8rem;
}

.works-text-svg {
  display: inline-block;
  vertical-align: top;
}

.how-it-works-options-container {
  display: flex;
  justify-content: space-between;
}

.works-options {
  width: 20%;
}
.fnl-works-options {
  width: 17%;
}

.works-options-svg {
  display: block;
  margin: auto;
  height: 16rem;
}

.works-option-text {
  margin-top: 1.5rem;
  line-height: 3rem;
  text-align: center;
}

/* our core services */

.core-services-container {
  background: rgba(17, 37, 85, 1);
  padding: 8rem 10.2rem 14rem 10.2rem ;
}

.core-services-header {
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 7.4rem;
}

.services-options-container {
  display: flex;
  justify-content: space-between;
}

.services-options {
  width: 31%;
  background: #fff;
  padding: 4rem 3.2rem;
  border-radius: .8rem;
}

.services-options-header {
  font-size: 2.4rem;
}

.services-options-text {
  text-align: justify;
}

/* choose us conatiner */

.choose-us-container {
  padding: 2.9rem 9.8rem ;
}