/********************

    template 
                
*********************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

/* removing dropdown arrow in bootstrap */

.caret-off::before {
  display: none !important;
}

.caret-off::after {
  display: none !important;
}

.btn:hover {
  color: inherit !important;
}

/********************

    reuseable
                
*********************/

.custom-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-23 {
  width: 23%;
}

.w-25 {
  width: 25%;
}

.w-28 {
  width: 28%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33.3%;
}

.w-35 {
  width: 35%;
}

.w-37 {
  width: 37%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-48 {
  width: 48%;
}

.w-60 {
  width: 60%;
}

.w-62 {
  width: 62%;
}

.w-65 {
  width: 65%;
}

.w-68 {
  width: 68%;
}

.w-70 {
  width: 70%;
}

.w-78 {
  width: 78%;
}

.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.h-90 {
  height: 90%;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lh-1 {
  line-height: 0.5rem;
}

.lh-2 {
  line-height: 1rem;
}

.lh-3 {
  line-height: 1.5rem;
}

.lh-4 {
  line-height: 2rem;
}

.br-1 {
  border-radius: 0.3rem !important;
}

.br-2 {
  border-radius: 0.5rem !important;
}

.br-3 {
  border-radius: 0.8rem;
}

.br-4 {
  border-radius: 1.2rem !important;
}

.mb-6 {
  margin-bottom: 5rem;
}

.mb-7 {
  margin-bottom: 7.5rem;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.white {
  color: white;
}

.bg-white {
  background: white;
}

.btn,
.dropdown,
.dropdown-menu {
  font-size: 1.4rem;
}

/* nav bar */

.nav-bar {
  position: relative;
  top: 0;
  height: 7.2rem;
  background: #fff;
  padding: 0 15.5rem;
  border-bottom: 0.03rem solid rgba(17, 37, 85, 0.1);
}

.nav-bar-content,
.nav-bar-menu {
  justify-content: space-between;
}

.nav-bar,
/* .nav-bar-menu, */
.nav-bar-btns {
  align-items: center;
}

.nav-bar-content {
  padding: 0 1rem;
  position: relative;
  font-size: 1.4rem;
}

.logo-container .logo-svg {
  width: 9rem;
  height: 5rem;
}

.nav-bar-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar-menu .menu-links {
  cursor: pointer;
  display: inline-block;
}

.nav-bar-menu .menu-links:focus {
  color: rgba(17, 37, 85, 1);
  font-weight: 600;
}

.nav-bar-btns .nav-login-btn {
  background: rgba(230, 246, 254, 1);
  color: rgba(15, 130, 192, 1);
}

.nav-bar-btns .nav-register-btn {
  background: rgba(15, 130, 192, 1);
  color: #fff;
}

/* main content */

.main-content-container,
.entry-main-content-conatiner,
.contact-main-content-conatiner {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.main-content-container {
  top: 7.2rem;
}

.main-content {
  height: 90vh;
  overflow-y: scroll;
  font-size: 1.8rem;
  transition: 3s;
}

/* login and register forms */

/* entry-main-content */

.entry-main-content,
.contact-main-content {
  padding: 5rem 0;
  display: flex;
  align-items: center;
}

/* entry- form container */

.entry-form-container,
.contact-container {
  position: relative;
  padding: 0 17.5rem;
  display: flex;
  justify-content: space-between;
}

/* cancel entry form btn */

.cancel-entry-btn {
  position: absolute;
  top: 5rem;
  right: 16rem;
  font-size: 2rem;
  cursor: pointer;
}

/* cancel entry form btn */

/* entry svg container */

.entry-svg-container,
.contact-svg-container {
  height: 70vh;
}

/* contact main content */

/* .contact-svg-container {
  
} */

.contact-svg-container svg {
  margin-top: -5rem;
  height: 60vh;
  margin-bottom: 3.4rem;
}

.contactMethod-container {
  width: 65rem;
  text-align: center;
}

.contactMethod-svg {
  height: 4rem;
  margin-bottom: 1.9rem;
}

.contactMethod-svg img {
  height: 100%;
}

.contact-method {
  line-height: 2rem;
  font-weight: 500;
  cursor: pointer;
}

/* entry- form */

.entry-form,
.contact-form {
  width: 42.2rem;
}

.form-header-container,
.moreEntryOption-container,
.contact-method {
  font-size: 1.6rem;
}

.form-header-container {
  margin-bottom: 3rem;
}

.form-header {
  font-size: 3.3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.form-text {
  line-height: 2rem;
}

.entry-input-container {
  margin-bottom: 3.1rem;
  display: flex;
}

.sign-up-form .entry-input-container,
.contact-form .entry-input-container {
  justify-content: space-between;
}

.log-in-form .entry-input-container {
  justify-content: center;
}

.entry-input,
.entry-checkbox {
  background: #ece9e9;
}

.entry-input,
.forgotPassword-btn {
  font-size: 1.4rem;
}

.entry-input {
  height: 6rem;
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  border: none;
  border-bottom: 0.1rem solid #828282;
  padding: 0 2rem;
}

.sign-up-form .entry-input-container .entry-input,
.contact-form .entry-input-container .entry-input {
  width: 20rem;
}

.log-in-form .entry-input-container .entry-input {
  width: 42rem;
}

.entry-checkbox-container {
  display: flex;
  align-items: center;
  font-size: 1.38rem;
  margin-bottom: 3.2rem;
}

.entry-checkbox {
  margin-right: 0.7rem;
}

.entry-confirm-btn {
  background: #0f82c0;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem 1rem;
  border-radius: 0.45rem;
  width: 100%;
  margin-bottom: 1.1rem;
}

.contactMessage-btn {
  font-size: 1.4rem;
  padding: 1rem;
  width: fit-content;
}

.moreEntryOption-container {
  display: flex;
  justify-content: center;
}

.moreEntryOption-btn,
.forgotPassword-btn,
.contact-form-header {
  color: #0f82c0;
}

.forgotPassword-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.9rem;
}

/* login and register forms */

/* hero section */

.hero-section {
  display: flex;
  justify-content: space-between;
  padding: 3.9rem 15.5rem;
  align-content: center;
}

.hero-section .left-section-container {
  display: flex;
  align-items: center;
}

.hero-section .left-section .find-doc-text {
  font-size: 2.4rem;
}

.hero-section .left-section .find-doc-header {
  font-size: 7.2rem;
  line-height: 8.3rem;
}

.hero-section .left-section .provide-doc-text {
  width: 70%;
}

.hero-section .left-section .book-appointment-btn {
  background: rgba(15, 130, 192, 1);
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 9rem;
}

/* how it works section */

.how-it-works {
  padding: 3.2rem 13.2rem;
  padding-bottom: 11.7rem;
  font-size: 2.2rem;
  font-weight: 400;
}

.how-it-works-text {
  margin-bottom: 5.6rem;
  font-size: 2.4rem;
  padding: 0 1.8rem;
}

.works-text-svg {
  display: inline-block;
  vertical-align: top;
}

.how-it-works-options-container {
  display: flex;
  justify-content: space-between;
}

.works-options {
  width: 20%;
}
.fnl-works-options {
  width: 17%;
}

.works-options-svg {
  display: block;
  margin: auto;
  height: 16rem;
}

.works-option-text {
  margin-top: 1.5rem;
  line-height: 3rem;
  text-align: center;
}

/* our core services */

.core-services-container {
  background: rgba(17, 37, 85, 1);
  padding: 8rem 10.2rem 14rem 10.2rem;
}

.core-services-header {
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
  margin-bottom: 7.4rem;
}

.services-options-container {
  display: flex;
  justify-content: space-between;
}

.services-options {
  width: 31%;
  background: #fff;
  padding: 4rem 3.2rem;
  border-radius: 0.8rem;
}

.services-options-header {
  font-size: 2.4rem;
}

.services-options-text {
  text-align: justify;
}

/* choose us conatiner */

.choose-us-container {
  padding: 2.9rem 9.8rem;
  position: relative;
}

.choose-us-svg {
  position: relative;
}

.choose-us-options-container {
  position: absolute;
  z-index: 2;
  margin-right: 9.8rem;
  top: 50%;
  transform: translateY(-50%);
  /* padding-top: 5.1rem; */
  padding-right: 3.9rem;
}

.choose-us-options-header {
  font-size: 3.6rem;
  margin-bottom: 6.3rem;
  font-weight: 700;
}

.choose-us-options {
  display: flex;
  justify-content: space-between;
}

.choose-us-options-text-container {
  width: 23%;
  font-size: 2.4rem;
  border-radius: 0.8rem;
  padding: 2.4rem;
  background: #fff;
  box-shadow: 0 1rem 2rem rgba(41, 41, 42, 0.07);
}

.choose-us-options-text {
  margin-bottom: 2.3rem;
  font-weight: 700;
}

/* explore plans */

.explore-plans-container {
  padding: 8rem 12rem 2.3rem 12rem;
  font-size: 2.4rem;
}

.explore-container {
  margin-bottom: 5.6rem;
}

.explore-text {
  font-size: 3.6rem;
  line-height: 4.85rem;
  margin-bottom: 5.6rem;
}

.pay-ayg-btn,
.capitation-btn {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

.pay-ayg-btn {
  background: rgba(17, 37, 85, 1);
  border-radius: 1rem 0 0 1rem;
  padding: 3rem 4.5rem;
}

.capitation-btn {
  background: rgba(188, 188, 188, 1);
  border-radius: 0 1rem 1rem 0;
  padding: 3rem 6.1rem;
}

.payg-container {
  padding: 5rem 3.5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.6rem 4rem rgba(0, 0, 0, 0.06);
}

.payg-content {
  width: 50%;
}

.payg-header {
  font-size: 3.2rem;
  margin-bottom: 2.8rem;
}

.payg-text {
  margin-bottom: 5rem;
}

.payg-benefits-header {
  margin-bottom: 7.1rem;
}

.payg-benefits {
  font-weight: 700;
  margin-bottom: 1.7rem;
}

.payg-get-started-btn {
  font-size: 1.8rem;
  padding: 2.25rem 5.4rem;
  background: rgba(15, 130, 192, 1);
  color: #fff;
  border-radius: 1rem;
}

.payg-img-container {
  width: 48rem;
  height: 70rem;
  clip-path: inset();
  background: grey;
}

/* price plans */

.price-plans-container {
  padding: 2.4rem 16rem 15rem 16rem;
  font-size: 1.8rem;
}

.price-plans-header {
  font-size: 3.2rem;
  margin-bottom: 7rem;
  font-weight: 700;
  text-align: center;
}

.subscriptions-container {
  display: flex;
  justify-content: space-between;
}

.subscriptions-package {
  /* width: 22%;   */
  font-weight: 700;
}

.subscriptions-package .package-header {
  background: rgba(17, 37, 85, 1);
  padding: 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
  color: #fff;
  font-size: 2.4rem;
}

.package-header .package-level {
  margin-bottom: 1.8rem;
}

.subscriptions-package .package-content {
  background: rgba(255, 255, 255, 1);
  padding: 4rem 1.45rem 2.5rem 1.45rem;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.1);
}

.package-benefits-container {
  padding: 0 2rem 1.6rem 2rem;
}

.package-benefits {
  margin-bottom: 2.4rem;
}

.buy-package-btn {
  background: rgba(15, 130, 192, 1);
  color: #fff;
  padding: 1.3rem;
  cursor: pointer;
  border-radius: 1rem;
}

/* set appointment */

.set-appointment-container {
  padding: 0.6rem 7.5rem 11.2rem 7.5rem;
  position: relative;
  font-size: 1.8rem;
}

.set-appointment {
  padding: 12.9rem 11.2rem 0 11.2rem;
  position: relative;
  z-index: 2;
}

.set-appointment-svg {
  z-index: 1;
  position: absolute;
  top: 0;
}

.set-appointment .appointment-header {
  justify-content: center;
}

.book-an-appointment-btn,
.find-a-hospital-btn,
.find-a-clinic-btn {
  width: 31.4rem;
  font-size: 2.4rem;
  padding: 2.3rem 0 1.5rem 0;
  text-align: center;
  background: rgba(188, 188, 188, 1);
  color: #fff;
  border-radius: 0.5rem 0.5rem 0 0;
}

.book-an-appointment-btn:focus,
.find-a-hospital-btn:focus,
.find-a-clinic-btn:focus {
  background: rgba(17, 37, 85, 1);
}

.set-appointment .appointment-content {
  padding: 7rem 4rem;
  background: rgba(244, 243, 243, 1);
  border-radius: 0.5rem;
}

.specialist-dropdown,
.set-schedule-dropdown,
.search-appointment-btn {
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.specialist-dropdown,
.set-schedule-dropdown {
  background: rgba(220, 219, 219, 1);
  width: 32%;
}

.search-appointment-btn {
  background: rgba(15, 130, 192, 1);
  color: #fff;
  padding: 2.5rem 12.1rem;
}

/* register as a practitioner */

.practitioner-register-container {
  padding: 8rem;
  font-size: 2.4rem;
  background: rgba(17, 37, 85, 1);
  color: #fff;
}

.practitioner-register {
  text-align: center;
}

.practitioner-register .register-header {
  font-size: 6.4rem;
  margin-bottom: 0.7rem;
}

.practitioner-register .register-text {
  margin-bottom: 3.7rem;
}

.practitioner-register-btn {
  background: rgba(15, 130, 192, 1);
  color: #fff;
  font-size: 2.4rem;
  padding: 1.8rem 6rem;
  border-radius: 1rem;
}

/* footer */

.footer {
  padding: 7rem 7.5rem 3rem 7.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-content {
  margin-bottom: 14.6rem;
  display: flex;
  justify-content: space-between;
}

.footer-logo-container {
  width: 29.7rem;
  height: 16.6rem;
}

.links-header {
  font-size: 2.2rem;
  margin-bottom: 1.7rem;
  padding-right: 7rem;
}

.footer-links {
  margin-bottom: 2.6rem;
}

/* about page */

/* content container wrapper */

.content-container-wrapper {
  position: relative;
  padding: 5rem 13.5rem;
  margin-top: 1.8rem;
}

.sm-top-text {
  color: #0f82c0;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  font-weight: 700;
  width: 50%;
}

/* content container header */

.content-container-header {
  margin-bottom: 16.2rem;
  padding: 0 5.6rem;
  font-weight: 700;
}

.content-header-text {
  font-size: 3.6rem;
  width: 75%;
}

/* content-container */

.content-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 3.5rem;
  margin-bottom: 15.3rem;
}

.content-info {
  width: 53%;
  z-index: 2;
  font-size: 2.4rem;
}

.info-header {
  font-weight: 700;
  width: 90%;
  margin-bottom: 2.3rem;
  line-height: 2.9rem;
}

.info-text {
  line-height: 4.05rem;
}

/* content container svg */

.content-container-svg {
  position: absolute;
  z-index: 1;
}

.content-svg-one,
.content-svg-two {
  width: 49.4rem;
  height: 49.4rem;
}

.content-svg-one {
  top: -30rem;
  right: -2.8rem;
}

.content-svg-two {
  top: -6.6rem;
  left: -9.4rem;
}

.content-svg-three {
  width: 34.6rem;
  height: 34.6rem;
  top: 6rem;
  left: 35rem;
}

/* content container svg */

.content-img-container {
  clip-path: inset();
  height: 58.3rem;
  width: 43rem;
  background: grey;
  z-index: 2;
}
