/********************

    template 
                
*********************/
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 45%;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-none {
  pointer-events: none;
}

/* removing dropdown arrow in bootstrap */

.caret-off::before {
  display: none !important;
}

.caret-off::after {
  display: none !important;
}

.btn:hover {
  color: inherit !important;
}

/********************

    reuseable
                
*********************/

.custom-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-16 {
  width: 16%;
}

.w-19 {
  width: 19%;
}

.w-20 {
  width: 20%;
}

.w-23 {
  width: 23%;
}

.w-25 {
  width: 25%;
}

.w-28 {
  width: 28%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: 33.3%;
}

.w-35 {
  width: 35%;
}

.w-37 {
  width: 37%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-48 {
  width: 48%;
}

.w-60 {
  width: 60%;
}

.w-62 {
  width: 62%;
}

.w-65 {
  width: 65%;
}

.w-68 {
  width: 68%;
}

.w-70 {
  width: 70%;
}

.w-78 {
  width: 78%;
}

.w-79 {
  width: 79%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.h-90 {
  height: 90%;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.lh-1 {
  line-height: 0.5rem;
}

.lh-2 {
  line-height: 1rem;
}

.lh-3 {
  line-height: 1.5rem;
}

.lh-4 {
  line-height: 2rem;
}

.br-1 {
  border-radius: 0.3rem !important;
}

.br-2 {
  border-radius: 0.5rem !important;
}

.br-3 {
  border-radius: 0.8rem;
}

.br-4 {
  border-radius: 1.2rem !important;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.white {
  color: white;
}

.bg-white {
  background: white;
}

.btn,
.dropdown,
.dropdown-menu {
  font-size: 1.4rem;
}

/* side bar */

.side-nav-container {
  width: 10rem;
  height: 100vh;
  position: fixed;
  left: 0;
  background: rgba(15, 130, 192, 1);
}

.side-nav_brand-name {
  font-weight: 700;
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 3.5rem;
  padding: 2.1rem 1.5rem;
  color: #fff;
}

.side-nav_tab-menu {
  margin-bottom: 14.5rem;
}

.tab-menu {
  padding: 1.75rem 0;
  margin-bottom: 5rem;
  text-align: center;
}

.dashboard_tab-menu,
.profile_tab-menu,
.message_tab-menu,
.appointment_tab-menu,
.medication_tab-menu,
.creditcard_tab-menu,
.exit_tab-menu {
  margin: 0 auto;
}

.dashboard_tab-menu {
  height: 2.7rem;
  width: 2.7rem;
}

.profile_tab-menu,
.message_tab-menu,
.appointment_tab-menu,
.creditcard_tab-menu {
  height: 3.2rem;
  width: 3.2rem;
}

.medication_tab-menu {
  height: 3.4rem;
  width: 3.2rem;
}

.exit_tab-menu {
  height: 2.7rem;
  width: 2.7rem;
}

.tab-menu:focus,
.tab-menu:hover,
.exit_tab-menu:focus,
.exit_tab-menu:hover {
  background: rgba(26, 162, 235, 1);
}

/* content section */

.content-section {
  margin-left: 10rem;
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
}

/* nav bar */

.navbar-container {
  width: 100%;
  height: 7.2rem;
  background: red;
  position: fixed;
}

/* main content */

.main-content-container {
  width: 100%;
  position: fixed;
  top: 7.2rem;
  height: 100vh;
  overflow: hidden;
  background: green;
}

.main-content {
  height: 92vh;
  overflow-y: scroll;
  font-size: 1.8rem;
  transition: 3s;
}
